
* {
  box-sizing: border-box;
}

.contentHeader {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  order: 0;
  margin-top: 1px;  
  width: 98%;
  max-width: 1024px;
  display: flex;
  flex-flow: row wrap;   
  text-align: center;
  justify-content: center;    
  border-radius: 10px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.36);
  background-color:#373b69;  
  color: #fff;
  z-index: 999;
}

.header {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
  text-align: center;
  justify-content: center;  
}

.headerColumn {
  display: flex;
  text-align: center;
  justify-content: left;
  vertical-align: middle;
}

.imgLogo {
  padding-top: 4px;
  padding-left: 8px;;
  width: 34px;
  height: 34px;
}

.lblLogo {
  padding-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
}

.hg {
  padding-top: 08px;
  padding-bottom: 10px;
  color:rgb(10, 206, 10);
  font-weight:bold;
}

.lblSearch {
  padding-top: 8px;
  margin-left: 10px;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.1rem;
}

.radSearch {
  padding-top: 0px;
  margin-left: 10px;
  vertical-align:middle;
  font-family: inherit;
  font-size: 1.0rem;
}

.inpSearch {
  margin-right: 6px;
  width: 250px;
  height: 22px;
  font-family: inherit;
  font-size: 1.1rem;
  color: #fff;
  border-style: none; 
  background: #b6c0d4; 
  outline: none;
}

.imgSearch {
  cursor: pointer; 
  padding-top: 5px;
  margin-bottom: 10px;
  width: 34px;
  height: 34px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 16px 0 rgba(0, 0, 0, 0.36);
}

.imgSearch:hover {
  cursor: pointer; 
  padding-top: 7px;
  width: 34px;
  height: 34px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 16px 0 rgba(0, 0, 0, 0);
}
